Repository solvcon/modmesh, pull requests merged in 2024-10, with the labels that each got.

#391 Hide boundary points in figure
  modmesh/app/euler1d.py
  modmesh/onedim/euler1d.py
  tests/test_onedim_euler.py
Labels: viewer, onedim

#433 Fix macos-14 pip install failure for pyside6 6.6.3 for Python 3.13
  .github/workflows/devbuild.yml
Labels: test, build

#434 Fix pip install with python 3.13 on macos 13 and 14
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
Labels: build
