Repository solvcon/modmesh, pull requests merged in 2024-09, with the labels that each got.

#420 Add vim modeline.
  cpp/modmesh/buffer/SimpleArray.cpp
  cpp/modmesh/buffer/pymod/TypeBroadcast.hpp
  cpp/modmesh/inout/pymod/wrap_Gmsh.cpp
  cpp/modmesh/inout/pymod/wrap_Plot3d.cpp
  cpp/modmesh/onedim/Euler1DCore.cpp
  cpp/modmesh/onedim/Euler1DCore.hpp
  cpp/modmesh/spacetime/kernel/BadEuler1DSolver.cpp
  cpp/modmesh/spacetime/kernel/BadEuler1DSolver.hpp
  cpp/modmesh/testhelper/pymod/testbuffer_pymod.cpp
  gtests/test_nopython_callprofiler.cpp
  gtests/test_nopython_inout.cpp
  gtests/test_nopython_serializable.cpp
  modmesh/app/euler1d.py
  modmesh/params.py
  setup.py
  tests/test_gmsh.py
Labels: refactor

#422 Add 2D unstructured mesh of triangle elements in a rectangle
  cpp/modmesh/view/RManager.cpp
  modmesh/gui/sample_mesh.py
  tests/data/rectangle.geo
  tests/data/rectangle.msh
  tests/test_gmsh.py
Labels: mesh, multidim

#423 Merge `multidim` branch back to `master`
  cpp/modmesh/CMakeLists.txt
  cpp/modmesh/multidim/CMakeLists.txt
  cpp/modmesh/multidim/euler.hpp
  cpp/modmesh/multidim/multidim.hpp
  cpp/modmesh/multidim/pymod/multidim_pymod.cpp
  cpp/modmesh/multidim/pymod/multidim_pymod.hpp
  cpp/modmesh/multidim/pymod/wrap_multidim.cpp
  cpp/modmesh/python/module.cpp
  cpp/modmesh/view/RManager.cpp
  modmesh/core.py
  modmesh/gui/sample_mesh.py
  tests/data/rectangle.geo
  tests/data/rectangle.msh
  tests/test_euler.py
  tests/test_gmsh.py
Labels: multidim

#426 Use ccache to save CI build time
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
Labels: test, build
