Repository solvcon/modmesh, pull requests merged in 2024-12, with the labels that each got.

#439 Refactor: refactor the constructor of SimpleArray
  cpp/modmesh/buffer/SimpleArray.hpp
Labels: refactor, array

#440 remove the unused dockerfile and readme
  contrib/docker/Dockerfile
  contrib/docker/README.md
Labels: build

#442 Port most code to set up menu items and actions from C++ to Python
  cpp/modmesh/view/RAction.cpp
  cpp/modmesh/view/RAction.hpp
  cpp/modmesh/view/RManager.cpp
  cpp/modmesh/view/RManager.hpp
  cpp/modmesh/view/wrap_view.cpp
  modmesh/view.py
Labels: enhancement, viewer

#444 Fix freeing non-allocated memory when copy shape_type
  cpp/modmesh/buffer/small_vector.hpp
Labels: bug, array

#441 add radix 2 fourier transform cpp implementation and test
  cpp/modmesh/CMakeLists.txt
  cpp/modmesh/math.hpp
  cpp/modmesh/transform/CMakeLists.txt
  cpp/modmesh/transform/fourier.cpp
  cpp/modmesh/transform/fourier.hpp
  cpp/modmesh/transform/transform.hpp
  gtests/CMakeLists.txt
  gtests/test_nopython_transform.cpp
Labels: enhancement

#446 Refactor to rename viewer to pilot
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
  Makefile
  cpp/binary/viewer/CMakeLists.txt
  cpp/modmesh/python/module.cpp
  modmesh/__init__.py
  modmesh/app/bad_euler1d.py
  modmesh/app/euler1d.py
  modmesh/app/linear_wave.py
  modmesh/app/sample_mesh.py
  modmesh/core.py
  modmesh/gui/naca.py
  modmesh/gui/sample_mesh.py
  modmesh/pilot/__init__.py
  modmesh/pilot/_gui.py
  modmesh/system.py
  tests/test_toggle.py
  tests/test_view.py
Labels: refactor, pilot

#447 Rename C++ directory and extension module
  .github/workflows/devbuild.yml
  CMakeLists.txt
  cpp/binary/pilot/CMakeLists.txt
  cpp/binary/pilot/pilot.cpp
  cpp/modmesh/CMakeLists.txt
  cpp/modmesh/pilot/.clang-tidy
  cpp/modmesh/pilot/CMakeLists.txt
  cpp/modmesh/pilot/R3DWidget.cpp
  cpp/modmesh/pilot/R3DWidget.hpp
  cpp/modmesh/pilot/RAction.cpp
  cpp/modmesh/pilot/RAction.hpp
  cpp/modmesh/pilot/RAxisMark.cpp
  cpp/modmesh/pilot/RAxisMark.hpp
  cpp/modmesh/pilot/RCameraController.cpp
  cpp/modmesh/pilot/RCameraController.hpp
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/RManager.hpp
  cpp/modmesh/pilot/RParameter.cpp
  cpp/modmesh/pilot/RParameter.hpp
  cpp/modmesh/pilot/RPythonConsoleDockWidget.cpp
  cpp/modmesh/pilot/RPythonConsoleDockWidget.hpp
  cpp/modmesh/pilot/RStaticMesh.cpp
  cpp/modmesh/pilot/RStaticMesh.hpp
  cpp/modmesh/pilot/RWorld.cpp
  cpp/modmesh/pilot/RWorld.hpp
  cpp/modmesh/pilot/common_detail.hpp
  cpp/modmesh/pilot/pilot.hpp
  cpp/modmesh/pilot/wrap_pilot.cpp
  cpp/modmesh/pilot/wrap_pilot.hpp
  cpp/modmesh/python/module.cpp
  modmesh/core.py
  modmesh/pilot/_gui.py
  modmesh/system.py
  resources/pilot/icon.ico
  resources/pilot/solvcon.icns
  tests/test_mesh.py
Labels: refactor, pilot

#448 Rename test_view.py to test_pilot.py
  tests/test_pilot.py
Labels: test, refactor, pilot
