Repository solvcon/modmesh, pull requests merged in 2025-03, with the labels that each got.

#475 Make point and segment containers available in `World`
  cpp/modmesh/pilot/RWorld.cpp
  cpp/modmesh/universe/World.hpp
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  modmesh/core.py
  modmesh/pilot/_mesh.py
  tests/test_universe.py
Labels: geometry

#469 Implement `TimeSeriesDataFrame.sort`
  tests/test_timeseries_dataframe.py
Labels: array

#477 Develop `CurvePad` to simplify the curve (`Bezier3d`) container in `World`
  cpp/modmesh/buffer/SimpleCollector.hpp
  cpp/modmesh/pilot/RWorld.cpp
  cpp/modmesh/universe/World.hpp
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  modmesh/core.py
  modmesh/pilot/airfoil/_naca.py
  tests/test_universe.py
Labels: pilot

#476 refactor: Completely remove PUI in One/Euler
  modmesh/pilot/_euler1d.py
Labels: pilot

#479 Refactor: Use `CubicBezierSampler` to sample curves
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  tests/test_universe.py
Labels: refactor, geometry

#480 fix: prevent plot freeze when euler1d is running
  modmesh/pilot/_euler1d.py
Labels: pilot, onedim

#483 Reorder segment data by coordinate axis
  cpp/modmesh/universe/World.hpp
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  modmesh/pilot/airfoil/_naca.py
  tests/test_universe.py
Labels: refactor, geometry

#484 feat: add inverse Fourier transform implementation
  cpp/modmesh/math/Complex.hpp
  cpp/modmesh/math/pymod/wrap_Complex.cpp
  cpp/modmesh/transform/fourier.hpp
  gtests/test_nopython_transform.cpp
  tests/test_math.py
Labels: array

#486 Improve efficiency of `take_along_axis`
  cpp/modmesh/buffer/SimpleArray.hpp
Labels: enhancement, performance, array

#487 Add Burgers' equation analytical solution
  modmesh/pilot/_burgers1d.py
  modmesh/pilot/_gui.py
Labels: pilot, onedim
