Repository solvcon/modmesh, pull requests merged in 2025-04, with the labels that each got.

#492 feat: add bluestein fft implementation and test cases
  cpp/modmesh/transform/fourier.cpp
  cpp/modmesh/transform/fourier.hpp
  gtests/test_nopython_transform.cpp
Labels: enhancement, array

#491 Refactor Euler1DApp and Burgers1DApp
  modmesh/onedim/euler1d.py
  modmesh/pilot/_burgers1d.py
  modmesh/pilot/_euler1d.py
  modmesh/pilot/_gui.py
  tests/test_onedim_euler.py
Labels: refactor, pilot

#493 Correct the arguments passed to `World.add_segment()`
  modmesh/pilot/_mesh.py
Labels: bug, pilot

#490 refactor: Completely remove PUI in modmesh
  .github/workflows/devbuild.yml
  CMakeLists.txt
  cpp/modmesh/pilot/CMakeLists.txt
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/RParameter.cpp
  cpp/modmesh/pilot/RParameter.hpp
  modmesh/params.py
  tests/test_pilot.py
Labels: refactor, pilot

#495 Supplement missing comparison and arithmetic operators for complex number
  cpp/modmesh/math/Complex.hpp
  cpp/modmesh/math/pymod/wrap_Complex.cpp
  tests/test_math.py
Labels: array

#494 Add SVG parser into Python module and adjust camera control
  cpp/modmesh/pilot/R3DWidget.cpp
  cpp/modmesh/pilot/R3DWidget.hpp
  cpp/modmesh/pilot/RCameraController.hpp
  cpp/modmesh/pilot/RWorld.cpp
  cpp/modmesh/pilot/RWorld.hpp
  modmesh/pilot/_gui.py
  modmesh/pilot/_svg.py
Labels: pilot

#507 Turn on/off the console (toggle)
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/RManager.hpp
  cpp/modmesh/pilot/wrap_pilot.cpp
  modmesh/pilot/_gui.py
Labels: enhancement, pilot

#515 Align type names in test base class in `test_universe.py`
  tests/test_universe.py
Labels: test, pilot

#512 Remove `bad_euler1d`
  cpp/modmesh/spacetime/CMakeLists.txt
  cpp/modmesh/spacetime/io.cpp
  cpp/modmesh/spacetime/io.hpp
  cpp/modmesh/spacetime/kernel/BadEuler1DSolver.cpp
  cpp/modmesh/spacetime/kernel/BadEuler1DSolver.hpp
  cpp/modmesh/spacetime/pymod/wrap_spacetime.cpp
  cpp/modmesh/spacetime/spacetime.hpp
  modmesh/app/bad_euler1d.py
  modmesh/pilot/_gui.py
  modmesh/spacetime.py
  tests/test_spacetime_bad_euler.py
Labels: refactor, pilot

#521 Fix CI error on installing Qt
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
Labels: test

#520 Move `linear_wave` & Remove `modmesh.app`
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/RManager.hpp
  cpp/modmesh/pilot/wrap_pilot.cpp
  modmesh/app/__init__.py
  modmesh/onedim/linear_wave.py
  modmesh/pilot/_gui.py
  setup.py
Labels: refactor, pilot

#516 refactor function `transpose` and add the property `.T`
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  tests/test_buffer.py
Labels: array

#523 [ci] remove aqtversion of install-qt-action
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
Labels: test

#522 Add unit tests for SVG path parser and fix bugs in parser
  modmesh/pilot/_gui.py
  modmesh/pilot/_svg.py
  modmesh/pilot/_svg_gui.py
  modmesh/plot/__init__.py
  modmesh/plot/svg.py
  setup.py
  tests/test_svg.py
Labels: pilot

#528 Turn off pip upgrade on macos to its failure on macos 14
  .github/workflows/devbuild.yml
Labels: build, array

#529 Fix wrong assertion in unit test
  tests/test_buffer.py
Labels: bug, test, array

#524 Implement `SimpleArray` member functions for searching
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  tests/test_buffer.py
Labels: array

#489 Improve `take_along_axis` using SIMD
  .github/workflows/devbuild.yml
  .gitignore
  Makefile
  contrib/standalone_buffer/Makefile
  cpp/modmesh/CMakeLists.txt
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  cpp/modmesh/simd/CMakeLists.txt
  cpp/modmesh/simd/neon/neon.hpp
  cpp/modmesh/simd/neon/neon_alias.cpp
  cpp/modmesh/simd/neon/neon_alias.hpp
  cpp/modmesh/simd/neon/neon_type.hpp
  cpp/modmesh/simd/simd.hpp
  cpp/modmesh/simd/simd_generic.hpp
  cpp/modmesh/simd/simd_support.cpp
  cpp/modmesh/simd/simd_support.hpp
  profiling/profile_sort.py
  profiling/profile_take_along_axis.py
  tests/test_buffer.py
Labels: performance, array
