Repository solvcon/modmesh, pull requests merged in 2025-09, with the labels that each got.

#576 Refactor: Fix code quality issues highlighted with clang-tidy v21
  .clang-tidy
  .github/workflows/lint.yml
  CMakeLists.txt
  cpp/modmesh/buffer/SimpleArray.cpp
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArrayPlex.cpp
  cpp/modmesh/math/pymod/wrap_Complex.cpp
  cpp/modmesh/mesh/StaticMesh.hpp
  cpp/modmesh/mesh/StaticMesh_boundary.cpp
  cpp/modmesh/mesh/StaticMesh_interior.cpp
  cpp/modmesh/mesh/pymod/wrap_StaticGrid.cpp
  cpp/modmesh/onedim/Euler1DCore.cpp
  cpp/modmesh/simd/simd_support.cpp
  cpp/modmesh/spacetime/core.cpp
  cpp/modmesh/toggle/RadixTree.cpp
  cpp/modmesh/toggle/RadixTree.hpp
  cpp/modmesh/toggle/toggle.cpp
Labels: refactor

#578 Fix: Reduce the latency of the unittest.
  tests/test_callprofiler.py
Labels: test, performance

#581 Rename modmesh profiling macro
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/small_vector.hpp
  cpp/modmesh/toggle/RadixTree.hpp
  gtests/test_nopython_callprofiler.cpp
Labels: refactor, performance

#582 Migrate process_attribute precall postcall into CallProfiler
  contrib/standalone_buffer/Makefile
  cpp/modmesh/python/common.hpp
  tests/test_callprofiler.py
  tests/test_profile.py
Labels: performance

#584 Upgrade pybind11 to v3.0.1
  contrib/dependency/install.sh
Labels: build

#583 Remove `print_statistics` function
  cpp/modmesh/toggle/RadixTree.cpp
  cpp/modmesh/toggle/RadixTree.hpp
  cpp/modmesh/toggle/pymod/wrap_profile.cpp
  tests/test_callprofiler.py
Labels: test

#587 Add GEMM implementation and tests for SimpleArray
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  tests/test_gemm.py
Labels: array

#591 Add identity matrix generation functionality to SimpleArray (#588)
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  tests/test_gemm.py
Labels: array

#593 Do not delete `R3DWidget` instance explicitly from unit-testing code
  cpp/modmesh/pilot/R3DWidget.cpp
  cpp/modmesh/pilot/R3DWidget.hpp
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/wrap_pilot.cpp
  tests/test_pilot.py
Labels: test, pilot
