Repository solvcon/modmesh, pull requests merged in 2025-01, with the labels that each got.

#445 Add unit test for `SimpleArray`
  tests/test_buffer.py
Labels: test, array

#449 Enhance: Add a file dialog for loading Gmsh file
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
  modmesh/pilot/_gui.py
  modmesh/pilot/_mesh.py
  tests/test_pilot.py
Labels: pilot, build, mesh

#453 [ci] upgrade Qt version to 6.8.1 LTS
  .github/workflows/devbuild.yml
  .github/workflows/lint.yml
Labels: build

#459 Add the base class `PilotFeature` in the module `modmesh.pilot._gui_common`
  modmesh/__init__.py
  modmesh/pilot/__init__.py
  modmesh/pilot/_gui_common.py
  modmesh/pilot/_mesh.py
  modmesh/pilot/airfoil/__init__.py
  modmesh/pilot/airfoil/_airfoil_gui.py
  modmesh/system.py
  tests/test_pilot_airfoil.py
Labels: pilot

#460 Move the module `euler1d` from `modmesh.app.euler1d` to `modmesh.pilot._euler1d`
  modmesh/pilot/_euler1d.py
  modmesh/pilot/_gui.py
  modmesh/pilot/_mesh.py
Labels: pilot, onedim
