Repository solvcon/modmesh, pull requests merged in 2025-08, with the labels that each got.

#558 Add profiler GUI with the table
  cpp/modmesh/pilot/RManager.cpp
  cpp/modmesh/pilot/RManager.hpp
  cpp/modmesh/pilot/wrap_pilot.cpp
  modmesh/pilot/_gui.py
  modmesh/pilot/_profiling.py
Labels: performance

#559 Add profiling on median function
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/small_vector.hpp
  cpp/modmesh/toggle/RadixTree.hpp
  cpp/modmesh/toggle/profile.hpp
  gtests/test_nopython_callprofiler.cpp
  profiling/profile_median.py
Labels: performance, array

#569 Add `__repr__` and `__str__` for `Point3d`, `Segment3d`, `Bezier3d`
  cpp/modmesh/python/common.hpp
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  modmesh/pilot/_svg_gui.py
  tests/test_universe.py
Labels: pilot, geometry

#573 Refactor SVG file loader by using the batch interface for faster runtime
  cpp/modmesh/universe/World.hpp
  cpp/modmesh/universe/bezier.hpp
  cpp/modmesh/universe/pymod/wrap_World.cpp
  modmesh/pilot/_svg_gui.py
  modmesh/plot/svg.py
  tests/test_universe.py
Labels: refactor, pilot, performance, array
