Repository solvcon/modmesh, pull requests merged in 2025-05, with the labels that each got.

#531 Port the linear scalar wave solver to `modmesh.onedim` and make a GUI
  modmesh/onedim/linear_scalar.py
  modmesh/onedim/linear_wave.py
  modmesh/pilot/_base_app.py
  modmesh/pilot/_burgers1d.py
  modmesh/pilot/_euler1d.py
  modmesh/pilot/_gui.py
  modmesh/pilot/_linear_wave.py
Labels: pilot, onedim

#533 Implemente Arithmetic operation for `SimpleArray`
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  cpp/modmesh/simd/neon/neon.hpp
  cpp/modmesh/simd/neon/neon_alias.cpp
  cpp/modmesh/simd/neon/neon_alias.hpp
  cpp/modmesh/simd/neon/neon_type.hpp
  cpp/modmesh/simd/simd.hpp
  cpp/modmesh/simd/simd_generic.hpp
  profiling/profile_arithmetic_simd.py
  tests/test_buffer.py
Labels: array

#525 Feat: Implement the simple statistical member functions
  cpp/modmesh/buffer/SimpleArray.hpp
  cpp/modmesh/buffer/pymod/wrap_SimpleArray.cpp
  cpp/modmesh/buffer/small_vector.hpp
  cpp/modmesh/math/Complex.hpp
  tests/test_buffer.py
  tests/test_math.py
Labels: array

#539 Feat: Add the unittest of `small_vector::select_kth`
  gtests/test_nopython_buffer.cpp
Labels: test, array

#537 Updates GUI with Add/Delete region buttons
  modmesh/pilot/_base_app.py
  modmesh/pilot/_burgers1d.py
Labels: pilot, onedim
